@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    font-family: Bebas Neue, sans-serif;
    background-color: whitesmoke;
}

h1 {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 20px;
    letter-spacing: 5px;
}

/* Loader */
.loader {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.8);
}

/* images that are children of loader class */
.loader img {
    position: fixed;
    /* moves the top left of the element to center */
    top: 50%;
    left: 50%;
    /* centers the element at the position */
    transform: translate(-50%, -50%);
}

/* image container */
.image-container {
    margin: 10px;
}

.image-container a {
    position: relative;
    display: inline-block;
    text-decoration: none;
}

.image-container img {
    display: block;
    height: auto;
    width: 100%;
    margin-top: 10px;
    transition: transform 0.3s ease-in-out; /* Animation time and effect */
}

.image-container img:hover {
    transform: scale(1.03); /* Increase the size by 10% */
}

.overlay-button {
    display: none;
    position: absolute;
    bottom: 10px; /* Position from the bottom of the container */
    right: 10px; /* Position from the right of the container */
    background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent white background */
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    z-index: 1; /* Position the button in front of the image */
    font-family: Bebas Neue, sans-serif;
    font-size: 1rem;
}

.search-container {
    display: flex;
    justify-content: center;
}
.search-container form {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    margin: auto 10px;
    width: 100%;
    max-width: 500px;
}

.search-container input {
    flex-grow: 1;
    border: none;
    padding: 10px;
    font-family: Bebas Neue, sans-serif;
    font-size: 1.2rem;
}

.search-container button {
    background: #f0f0f0;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    color: #333;
}

.search-container button:hover {
    background-color: #e0e0e0;
}


/* Media Query: Tablet and Desktop */

@media screen and (min-width: 600px) {
    
    h1 {
        font-size: 40px;
    }
    
    .image-container {
        margin: 10px 30%;
    }
}